Logs
app-zone-history.json
applied-layouts.json
custom-layouts.json
editor-parameters.json
layout-hotkeys.json
layout-templates.json
/settings.json
custom-layouts.json_backup.json
.env
backup

layouts/*
!layouts/sample.py